select.selectBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;

  width: 215px;
  height: 32px;
  border: 2px solid #d3d3d3;
  border-radius: 0;
  line-height: 22px;
  padding: 0 13px;
  cursor: pointer;

  transition: 300ms border-color;

  /* From colorzilla.com */
  background: #f8f8f8;
}

select.selectBox:hover {
  border-color: #939393;
}
